@import './fonts.css';

.about{
    height: 95%;
    width: 100vw;
    position: absolute;
    z-index: 2;
    top: -600%;
    background-color: black;
    justify-content: center;
    align-items: center;
    transition: all linear 10s;
    display: flex;
}

@media screen and (max-width: 762px){
    .about{
        top: 10%;
        font-size: 0.9rem;
        height: fit-content;
    }
    h2 .title{
        margin: 0;
    }
}
.about-bis{
    height: 95%;
    width: 100vw;
    position: absolute;
    z-index: 2;
    top: -100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 1s;
    display: flex;
}

.about-show{
    height: 95%;
    width: 100vw;
    position: absolute;
    z-index: 2;
    top: -90%;
    background-color: black;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 1s;
    display: flex;
}

.about-confirm{
    height: 95%;
    width: 100vw;
    position: absolute;
    z-index: 2;
    top: 10%;
    background-color: black;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 3s;
    display: flex;
}
.about-text{
    color: white;
    font-family: 'VT323';
    border: white 2px solid;
    height: 55%;
    width: 70%;
    margin-top: 100px;
    font-family: sans-serif;
    padding: 10px;
}

.title{
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 100px;
}

.ligne{
    display: flex;
    justify-content: space-between;
}