.galerie{
    height: 95vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    top: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.galerie-title{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
}