.galerie-emporium{
    width: 50%;
    overflow: scroll;
}

.galerie-emporium img{
    width: 100%;
}

.image{
    height: 50%;
    overflow: scroll;
}

.image::-webkit-scrollbar {
    display: none;
}
  

.border{
    border-bottom: solid white 1px;
}